data/
run/
__pycache__/
dataloaders/__pycache__/
dataloaders/datasets/__pycache__/
modeling/__pycache__/
modeling/backbone/__pycache__/
modeling/sync_batchnorm/__pycache__/
utils/__pycache__/
eval/RetinaNet_Fishyscapes_Static_Results/
eval/RetinaNet_LostAndFound_Static_Results/
eval/RetinaNet_LostAndFound_Static_Results_new/
eval/RetinaNet_add_background_LostAndFound_Static_Results/
eval/experiment_2_LostAndFound/
eval/generated_images/
eval/merge_det_sseg/
eval/object_embedding_tsne_Cityscapes_and_LostAndFound_one_point/
eval/results/
eval/trained_model/
results_deeplab/
results_duq/
results_SN/
results_duq_temp/
